.common{
    border-style:solid;
    height:300px;
    float:left;
    box-sizing:border-box;
    text-align:center;
    padding-top:10px;
}

.box1{

    width:25%;
    
}

.box2{
    width:50%;
   
}

.box3{
    width:33.33%;
}